<div class="section_admin"><h1>ADMINISTRADOR</h1>
  <div>

    <a href="/users"><button class="btn btn-primary">Ver usuarios</button></a>
    <a href="/realtimeproducts"><button class="btn btn-success">Agregar Producto</button></a>
  </div></div>