<div class="section_admin"><h1>ADMINISTRADOR</h1>
  <div>
    <a href=""><button class="btn btn-danger">Eliminar producto</button></a>
    <a href=""><button class="btn btn-primary">Editar producto</button></a>
    <a href="/realtimeproducts"><button class="btn btn-success">Agregar Producto</button></a>
  </div></div>