<div>
  <h1>Login</h1>
  <form id="loginForm" action="/api/sessions/login" method="post">
    <label>Email</label>
    <input name="email" />
    <br />
    <label>Contraseña</label>
    <input type="password" name="password" />
    <input type="submit" />
  </form>
  <p>¿No estás registrado? <a href="/register">Regístrate aquí</a></p>
</div>