<div>
  <h1>Tu perfil (sin datos sensibles)</h1>
  <p>{{user.name}}</p>
  <p>{{user.email}}</p>
  <p>{{user.age}}</p>
  <p>{{user.role}}</p>
  <a href="/api/sessions/logout"><button>Cerrar secion</button></a>
</div>