<div>
  <h1>BIENVENIDO!</h1>
  <p>{{user.name}}</p>
  <p>{{user.email}}</p>
  <p>{{user.age}}</p>
  <p>{{user.role}}</p>
  <a href="/api/sessions/logout"><button class="btn btn-primary">Cerrar secion</button></a>
  <a href="/products"><button class="btn btn-primary">Ver Productos</button></a>
</div>