<div class="w-100 mt-4">
  <form class="m-auto h-80" method="post" action="/recover-pass/new-password">
    <div class="form-outline mb-3">
      <input
        class="form-control"
        id="formControlDisabled"
        type="text"
        placeholder="Disabled input"
        aria-label="disabled input example"
        name="email"
        value="{{email}}"
      />
      <label class="form-label" for="formControlDisabled"></label>
    </div>
    <!-- Name input -->
    <div class="form-outline mb-4">
      <input
        type="password"
        id="newpass1"
        class="form-control"
        name="newPassword"
      />
      <label class="form-label" for="form5Example1">Nueva contraseña</label>
    </div>

    <!-- Submit button -->
    <button
      type="submit"
      class="btn btn-primary btn-block mb-4"
      id="boton-submit-password"
    >Cambiar contraseña</button>
  </form>
</div>