<div class="pag-login">
  <div class="formulario-login">
    <h1>Resgistrate</h1>
    <form
      id="registerForm"
      class="align-content-center d-flex flex-column"
      action="/api/sessions/register"
      method="post"
    >
      <input
        required
        placeholder="Nombre"
        class="form-control"
        name="first_name"
      />
      <br />
      <input
        required
        placeholder="Apellido"
        class="form-control"
        name="last_name"
      />
      <br />
      <input required placeholder="Email" class="form-control" name="email" />
      <br />
      <input required placeholder="Edad" class="form-control" name="age" />
      <br />
      <input
        required
        placeholder="Contraseña"
        class="form-control"
        type="password"
        name="password"
      />
      <br />
      <input type="submit" class="btn btn-primary" />
    </form>
    <p>¿Ya tienes una cuenta? <a href="/">Ingresa aquí</a></p>
  </div>

</div>