<div>
  <h1>Registro</h1>
  <form id="registerForm" action="/api/sessions/register" method="post">
    <label>Nombre</label>
    <input required name="first_name" />
    <br />
    <label>Apellido</label>
    <input required name="last_name" />
    <br />
    <label>Email</label>
    <input required name="email" />
    <br />
    <label>Edad</label>
    <input required name="age" />
    <br />
    <label>Contraseña</label>
    <input required type="password" name="password" />
    <input type="submit" />
  </form>
  <p>¿Ya tienes una cuenta? <a href="/">Ingresa aquí</a></p>
</div>