<!-- LISTADO DE USUARIOS -->

<div class="users_container">
  <h1>Usuarios</h1>

  {{#each users}}
    <div class="card">

      <div>Nombre y Apellido: {{this.first_name}} {{this.last_name}}</div>
      <div> Email: {{this.email}} </div>
      <div>Roll: {{this.role}} </div>
      <a href=""><button class="btn btn-success">Cambiar roll</button></a>
      <a href=""><button class="btn btn-danger">Eliminar </button></a>

    </div>
  {{/each}}
</div>

<script src="../public/css/index.css"></script>